<!DOCTYPE html>

{% load widget_tweaks %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <style>

        form{
            margin: 50px;
        }
    </style>

</head>

<body>

    {% include "vehicle/navbar.html" %}

<br><br><br>
<h3>Staff Signup</h3>
<form method="post" enctype="multipart/form">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="username">username</label>
            {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="Username" %}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="first_name">First Name</label>
                {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="First Name" %}
            </div>
            <div class="form-group col-md-6">
                <label for="last_name">Last Name</label>
                {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="Last Name" %}
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="address">Address</label>
                  {% render_field staffForm.address|attr:'required:true'  class="form-control" placeholder="Address" %}
                </div>

            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="mobile">Contact</label>
                {% render_field staffForm.mobile|attr:'required:true'  class="form-control" placeholder="Contact"%}
            </div>
        </div>
    </div>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br><br>
{% include "vehicle/footer.html" %}
</body>